body{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}
.logo a{
    text-decoration: none; 
}

.cadastro-usuario{			
    width: 930px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    height: auto;
    border-radius: 15px;
}
.cadastro-usuario h3{
    margin-top: 15px;
    text-align: center;
}
.cadastro-usuario form{
    margin-left: 15px;
    margin-right: 15px; 
}
.top-01{
    text-align: right;
    line-height: 50px;
    background-color: #d9d9d9;
    height: 50px;
    width: 100%;
}
.nav-menu {
  display: none;
}
.login a{
    text-decoration: none;
    color: #000;
}
.top-01 img{
    float: right;
    padding-left: 5px;
    margin-right: 15px;	
    margin-top: 5px;		
    width: 40px;
    height: auto;
}
.top-02{
    width: 100%;
    height: 170px;
    background-color: #eeeeee;		
}
.inside-top-02{
    width: 1080px;
    height: 170px;
    margin: auto;
}
.inside-top-02 .logo{
    float: left;
    width: 300px;
    font-size: 216%;
    line-height: 170px;
    font-family: 'Noto Sans', sans-serif;
    
}

.menu{
    float: right;
    width: 775px;
    height: auto;
    
    
}
 ul{
    margin: 0;
}

.inside-top-02 .menu li{

    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 106%;
    list-style: none;
    display: inline;
    line-height: 170px;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: 5px solid transparent;
}
.inside-top-02 .menu a{
    color: #000;
    text-decoration: none;
}
.inside-top-02 .menu li:hover{
    border-bottom: 5px solid #1E90FF;

}
/*.actived{
    border-bottom: 5px solid #1E90FF;
}*/

.meio{
    width: 1080px;
    height: auto;
    margin: auto;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
footer{
    float: left;
    width: 100%;
    height: 200px;   			
    background-color: #000;
    color: #fff;
    text-align: center;
}
.animal-block{
    margin: 10px;
    text-align: center;
    background-color: #01acca;
    width: 338px;
    height: 600px;
    float: left;
    color: #fff;
    border: 1px solid transparent;
    
}
.propaganda{
    float: right;
    width: 1080px;
    height: 150px;
    margin: auto;
    background-color: #eeeeee;
}
.animal-block img{
    
    width: 336px;
    height: 380px;
    background-color: grey;
}
.animal-block a{
    text-decoration: none;
}
#bt_menu{
    display: none;
}
.viewmore{
    background-color: #fff;
    color: #01acca;
    width: 100px;
    height: 40px;
    font-size: 100%;
    border-style: none;

}
label[for="bt_menu"]{
        display: none;
        cursor: pointer;
}
@media only screen and (max-width: 600px) {
      body {
        margin: 0;
      }
      .topo-01{
          width: 100%;
      }
      #bt_menu{
          
          display: none;
      }
    .menu{
        width: 100%;
      height: auto;
    }
     ul{
         display: block

     }
      
        .inside-top-02 li{
            width: 100%;
            padding-left: 17px;
            padding-right: 17px;
        }
    /* .inside-top-02 .menu li{
         
        width: 100%;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        float: none;
        font-size: 106%;
        display: block;
        text-align: right;
        background-color: red;
        list-style: none;			
        font-family: 'Noto Sans', sans-serif;
        border-bottom: 5px solid transparent;
     }
     */
      .login{
          width: 100%;
      }
     .animal-block{
         margin-top: 10px;
         margin-left: 0;
        text-align: center;
        background-color: #01acca;
        width: 100%;
        height: 600px;				
        color: #fff;
        border: 1px solid transparent;
        
    }
    .animal-block img{
        width: 96%;
    }
    .propaganda{
        width: 100%;
    }
    .meio{
        width: 100%;
    }
    .inside-top-02{
        width: 100%;
    }
    label[for="bt_menu"]{
        margin-left: 2px;
        float: left;
        cursor: pointer;
        display: block;
    }
}